*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#health-levels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  /* width: 100%; */
  margin: 04rem;
}
progress{
  border-radius: none;
  padding: 1rem;
  width: 100%;
  background-color: rgb(152, 114, 235);
  
}
